@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: pink;
  font-family: 'Roboto', sans-serif; /* 全体にRobotoを適用 */
}

.container {
  height: 100%;
  text-align: center;
  padding-top: 60px; /* ヘッダーの高さ分を確保 */
}

h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin-top: 50px; /* ヘッダーに対して余白を調整 */
  font-size: 100px;
}

button {
  all: unset; /* デフォルトスタイルをリセット */
  cursor: pointer;
  display: block;
  text-align: center; /* ボタン内のテキストを中央揃え */
}

.btn1{
  font-family: 'Roboto', sans-serif !important; /* 修正: 正しい書き方に変更 */
  font-size: 16px; /* 必要に応じてフォントサイズを調整 */
  margin: 10px auto;
  padding: 0.8em 3em;
  background-color: #ff8492;
  box-shadow: 0 5px 0 #c46570;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn1:active{
  box-shadow: none;
  transform: translateY(5px);
}
