html, body {
    max-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.container-select {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 230px; /* ボタン全体を下に移動 */
}



.chara1, .chara2, .chara3 {
    padding: 0.8em 3em;
    background-color: #ff8492; /* 背景色 */
    box-shadow: 0 5px 0 #c46570; /* 影の太さ・色 */
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    border: none; /* ボーダーを消す */
    margin: 150px; /* 左右に間隔を追加 */
  }
  
  button:active {
    box-shadow: none;
    transform: translateY(5px);
  }


  .centered-model {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ビューポートの高さに合わせる */
  }
  
  .model-background {
    width: 50%; /* モデルと背景のサイズを調整 */
    height: auto;
  }