@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

html, body {
    max-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.container-select {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chara1{
  position: absolute;
  left: 0px;
  top: 170px;
}

.chara2{
  position: absolute;
  left: 130px;
  top: 170px;
}

.chara3{
  position: absolute;
  left: 250px;
  top: 170px;
}

.chara1, .chara2, .chara3 {
  writing-mode: horizontal-tb; /* 横書きに指定 */
  text-orientation: mixed;     /* 標準的な文字方向 */
  display: inline-block;       /* ブロック要素化しておく */
  white-space: nowrap;         /* テキストの折り返しを防止 */
  text-align: center;          /* テキストを中央揃え */
  font-size: 18px;             /* 文字サイズを適切に設定 */
  font-family: "Nico Moji";    /* フォントを指定 */
  padding: 0.8em 3em;
  background-color: #ff8492;   /* 背景色 */
  box-shadow: 0 5px 0 #c46570; /* 影の太さ・色 */
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;       /* 文字の下線を消す */
  border: none;                /* ボーダーを消す */
  margin: 150px;               /* 左右に間隔を追加 */
  
}

button:active {
  box-shadow: none;
  transform: translateY(5px);
}
