body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ビューポート全体をカバー */
  }
  
  .view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 左寄せ */
    margin-right: 0px; /* ゲーム画面との間隔 */
  }
  
  .game-screen {
    width: 800px; /* ゲーム画面の幅を設定 */
    height: 600px; /* ゲーム画面の高さを設定 */
    background-color: #000; /* 背景色を黒に設定 */
    border: 2px solid #fff; /* 白い枠線 */
  }